@charset "utf-8";

@font-face {
    font-family: 'Simple';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

/*리셋코드*/
*{margin:0; padding:0;}
li{list-style:none;}
img{vertical-align:top;}

body{
  font-family: "Noto Sans KR", sans-serif;
}

header{
  min-width:1200px;
  border-bottom:1px solid #e4e9f0;
}
header #seoul{display:flex; width:1200px; margin:0 auto;}
header #seoul h2{margin-right:75px;}
header #seoul ul{margin-left:auto; display:flex;}
header hr{border:0; height:1px; background:#e4e9f0;}
header .inner{width:1200px; height:100px; display:flex;
  justify-content:space-between; align-items:center;
  margin:0 auto;}
header .inner ul{display:flex;}

main{min-width:1200px;}

.container{padding:50px 0;
  background:url("./images/bg.png") no-repeat center/auto 100% #4a79c6;
  }
.container .inner{width:1200px; margin:0 auto;
  display:flex; flex-wrap:wrap; justify-content:space-between;
  gap:45px 0;/*수직간격:45px, 수평간격:0*/}  

#title h2{font-size:33px; color:#fff; margin-bottom:30px;}
#title p{font-size:16px; color:#c5dbff;}

#data{display:flex; width:510px; flex-wrap:wrap;
  gap:30px 0;}
#data dl{border-right:1px dashed #c5dbff;
  flex-grow:1; text-align:center;}
#data dl:last-child{border:0;}
#data dt{font-size:16px; color:#c5dbff;}
#data dd{font-size:34px; color:#fff; font-family:"Roboto";
  font-weight:bold;}

.board{margin:40px auto 50px; display:flex; width:1200px; 
  justify-content:space-between;}  

#item{padding:60px 0; background:#e3eaf4;}
#item ul{display:flex; width:1200px; margin:0 auto;}

.box{margin:70px auto; display:flex; justify-content:space-between;  
  width:1200px;}
#etc{width:580px;}
#etc p{float:left;}
#etc p:first-child{margin-right:10px;}
#etc p:last-child{margin-top:10px;}

footer{min-width:1200px;}
footer .bg1{background:#434547;}
footer .btm_menu{width:1200px; margin:0 auto; padding:12px 0;
  display:flex; justify-content:space-between;}
footer .btm_menu ul{display:flex; margin-left:190px;}

footer .bg2{background:#505256;}
footer .btm_info{width:1200px; margin:0 auto; padding:30px 0;
  display:flex; gap:35px;}