@charset "utf-8"; /*문자 인코딩 정보 표기*/

/*리셋코드:태그가 가지는 기본값을 0 또는 none 으로 설정*/
*{margin:0; padding:0;}
li{list-style:none;}
img{vertical-align:top;}


header{
  width:1200px; margin:0 auto; overflow:hidden;
  border-top:3px solid #da1f3d;
}

header .top{overflow:hidden; background:#f0f0f0;}

header #sns{float:left; font-size:0;}
header #sns li{display:inline-block;}

header #login{float:right; font-size:0;}
header #login li{display:inline-block;}

header #logo{clear:both; float:left; margin-top:65px;}

header #banner{float:right; margin:10px 0 14px;}

header #gnb{float:right; font-size:0;}
header #gnb li{display:inline-block;}




main{border:3px solid #000; display:none;}


footer{border:3px solid #000; display:none;}